{% extends "appcfood/newtemplatemain.html" %}
{% load static %}
{% block title %}acceuil{% endblock %}
{% block navbar %}
        <ul class="navbar">
            <li><a href="{% url 'acceuil' %}">Home</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="#" id="categories-link">Categories</a></li>
            <li><a href="#commande">Commande</a></li>
            <li><a href="{% url 'login' %}">Se connecter</a></li>
        </ul>
        <!-- La liste déroulante des catégories de menus -->
        <ul class="categories-dropdown" id="categories-dropdown">
            <li><a href="#">Catégorie 1</a></li>
            <li><a href="#">Catégorie 2</a></li>
            <li><a href="#">Catégorie 3</a></li>
            <!-- Ajouter d'autres catégories au besoin -->
        </ul>
{% endblock navbar %}
{% block acceuil %}
    <!--home start-->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Campus food</h1>
            <h2>Food The <br> Most Precius Things</h2>
            <a href="#" class="btn" id="learnmore">Learn More</a>
        </div>

        <div class="home-img">
            <img src="{% static 'img/home.png' %}">
        </div>
    </section>
    <!--about start-->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'images/Logo.jpg' %}">
        </div>

        <div class="about-text">
            <span>About Us</span>
            <h2>We speak the good <br> food language</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit congue dolor et vehicula. Cras laoreet lorem id nisl auctor, a convallis diam facilisis. Donec sagittis a ipsum in venenatis. Duis justo sapien, varius at metus sit amet, sollicitudin condimentum dolor.</p>
            <a href="#" class="btn">Today's Menu</a>
        </div>
    </section>
{% endblock %}
