{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <header>
        <div class="nav-part-one">
            <div class="about-restau">about restaurant</div>
            <div class="logo"> Cfood Logo</div>
        </div>
        <div class="nav-part-two">
            <div class="search-login"><!-- search barre and login button -->
                <div class="recherche">
                    <form action="#">
                    <input type="text" placeholder="Rechercher">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                {% comment %} <div class="head-one">
                    <a href="connexion.html" class="bouton-connexion">Se connecter</a>
                </div> {% endcomment %}
            </div>
            <div class="navigation">
                <!-- <div class="panier">Panier icone</div> -->
                <div class="nav-item">
                    <!-- Navigation items -->
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Categorie</a></li>
                    <li><a href="#">Commande</a></li>
                    <li id="login"><a href="connexion.html" class="bouton-connexion">Se connecter</a></li>
                </div>
                <!-- <div class="login">
                    <a href="connexion.html" class="bouton-connexion">Se connecter</a>
                </div> -->

            </div>
        </div>
    </header>

    {% block content %}

    {% endblock  %}

    <footer>
        <span>copyright@Cfood- Tout droit reserver</span>
    </footer>
</body>
</html>
