/* h1{
  border: 3px solid red;
} */

/* Style général */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* En-tête */

header {
  border: 3px solid #333;
  height: 200px;
  display: flex;
}
/* ======================*/

/* Pied de la page */
footer{
  background-color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
/* ======================*/

.nav-part-one{
/*   background-color: blue; */
  width: 30%;
  height: 190px;

  
}

.about-restau{
  height: 60px;
  width: 98%;
  border: solid 2px goldenrod;

}

.logo{
  height: 120px;
  width: 98%;
  border: solid 2px green;
  overflow: auto;
  background-image: url('{%static "images/logo.png"%}');


}

.nav-part-two{
/*   background-color: red; */
  width: 100%;
  height: 190px;
}

.search-login{
  height: 60px;
  width: 98%;
  border: solid 2px goldenrod;
  margin-left: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

/* Formulaire de recherche */
  
.recherche {
  margin-right: 20px;
}

.recherche form {
  display: flex;
  align-items: center;
}

.recherche input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.recherche button {
  margin-left: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.recherche button i {
  color: #333;
  font-size: 18px;
}

.head-two{
/*   display: flex;
  flex-direction: row;
  justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.navigation{
  height: 120px;
  width: 90%;
  border: solid 2px green;
  margin-left: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


.panier{
  /* background-color: coral; */
  height: 50px;
  width: 50%;

}
.nav-item{
  background-color: rgba(92, 205, 197, 0.557);
  width: 100%;
  height: 120px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
  
}

/* les liens */
li{
  height: 30px;
  width: 100px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  list-style: none;

}
a{
  text-decoration: none;
  text-align: center;
  align-items: center;
}
/* ============================ */