{% extends 'cfoodapp/base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-12 mt-5 mb-7 p-6">
        {% for message in messages %}
        <div class="alert alert-danger text-center">
            <strong>{{message}}<strong/><br>
        </div>
        {% endfor %}
        <form action="{% url "enseignant_inscription" %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header text-center"><i class="fas fa-user">Inscription en tant qu'Enseignant</i></div>
                {{ formulaire.as_p }}
                <div class="card-footer">
                    <button class="btn-primary btn-block">Valider</button>
                </div>
            </div>
        </form>
    </div>   
</div>


<style>
    .form-control{
        max-width: 99.5%;

    }
</style>
{% endblock %}
