<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom" ><a href="{% url "dashboard" %}">CAMPUSFOOD</a></div>
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        {% if user.is_authenticated %}
        <span>{{user.username}}</span>
        {% endif %}
        <div class="dropdown">
          
          <a
            data-mdb-dropdown-init
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            aria-expanded="false"
          >
            
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            {% if user.is_authenticated %}
            <li>
              <a class="dropdown-item" href="#">Mon profil</a>
            </li>
            
            <li>
              <a class="dropdown-item" href="#">Paramettre</a>
            </li>
            
            <li>
              <a class="dropdown-item" href="{% url "logout" %}">Deconnexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
  <!-- Navbar -->

<!-- Statistiques -->
{% if user.is_authenticated %}
<div class="container mt-3">
  <div class="row">
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-primary mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-users fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_users }} Utilisateurs</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-secondary mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-user-graduate fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_etudiants }} Étudiants</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-success mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-chalkboard-teacher fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_enseignants }} Enseignants</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-danger mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-user-tie fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_personnel }} Personnel Administratif</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-warning mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-utensils fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_plats }} Plats</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-info mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-university fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_universites }} Universités</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-dark mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-store-alt fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_restaurants }} Restaurants</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4">
          <div class="card text-white bg-primary mb-3">
              <div class="card-body text-center">
                  <i class="fas fa-briefcase fa-2x mb-3"></i>
                  <h5 class="card-title">{{ total_employes }} Employés</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Fin des statistiques -->
{% endif %}