<footer id="footercontact">
  
    <p>Pour plus d'informations sur le Restau, veuillez contacter :</p>
    <ul>
        <li>Téléphone : +225 07 00 00 00 00</li>
        <li>Adresse e-mail : contact@upb.ci</li>
        <li>Site Web : <a href="https://upb.ci/" target="_blank">https://upb.ci/</a></li>
    </ul>
    <p>L'Université Polytechnique de Bingerville (UPB)</p><br>
    <p>&copy; 2024 CampusFood-Restaurant Universitaire UPB</p>
</footer>

<style>
    footer {
        background-color: chocolate; /* Couleur de fond */
        color: #fff; /* Couleur du texte */
        padding: 20px; /* Espace à l'intérieur du footer */
        text-align: center; /* Aligner le texte au centre */
    }
    
    footer ul {
        list-style-type: none; /* Supprime les puces des listes */
        padding: 0; /* Pas d'espace entre les éléments de la liste */
    }
    
    footer li {
        margin: 5px 0; /* Espace entre les éléments de la liste */
    }
    
    footer a {
        color: #ffdd00; /* Couleur des liens */
        text-decoration: none; /* Pas de soulignement */
    }
    
    footer a:hover {
        text-decoration: underline; /* Soulignement au survol */
    }
</style>