{% extends "upbapp/base.html" %}
{% block welcome %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="col">
        <!-- Espace mon restau -->
        <div class="col md-6" style="color: #222831; font-weight: bolder; font-size: 50px;">Resto de UPB</div>
        <!-- bar de recherche -->
        <div class="col md-6" style="justify-items: center;justify-content: center;">
          <form class="d-flex" role="search" action="{% url "search" %}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="article">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
          </form>
        </div>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="{% url "upbHome" %}">
            <small style="color: chocolate; font-weight: bolder; font-size: 50px;">CampusFOOD</small>
          </a>
          <!-- Left links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              {% if user_profile %}
              <a class="navbar-brand mt-2 mt-lg-0" href="{% url "upbHome" %}">
                  Accueil
              </a>
              {% else %}
              <a class="navbar-brand mt-2 mt-lg-0" href="{% url "home" %}">
                  Accueil
              </a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "menu" %}">Menu</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Catégories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for categorie in list_categorie %}
                <a class="dropdown-item category-link" href="#">{{categorie.nom}}</a><hr>
                {% endfor %}
              </div>
            </li>
            {% endif %}
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Commandes</a>
            </li> {% endcomment %}
          </ul>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <a class="text-reset me-3" href="{% url "panier" %}">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="dropdown">
          <a data-mdb-dropdown-init class="text-reset me-3 dropdown-toggle hidden-arrow" href="#"
            id="navbarDropdownMenuLink" role="button" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        <!-- Avatar -->
        {% if user.is_authenticated %}
        <div class="dropdown">
          <!-- Tres importante, faire que le profile s affiche si la personne est conneter -->
          <!-- <a class="btn btn-primary" href="{% url "login" %}">Connexion</a> -->
          <a href="#profile"><i class="fas fa-user"><strong>{{user_profile.username}}</strong></i></a>
        </div>
        {% endif %}
      </div>
  </nav>
  <div id="carouselExampleControls" class="carousel slide panda-slide mt-5 mb-5" data-bs-ride="carousel" style="height: 100vh;">
    <div class="carousel-inner">
        <div class="carousel-item active " id="carousel_item1">
            <div class="row d-flex align-items-center p-5">
                <div class="col-md-12">
                    <h1 style="font-size: 70px; color: #ffffff;">Bienvenue sur CampusFOOD</h1>
                    <p>Votre plateforme de restauration Universitaire.Rejoignez-nous pour découvrir une <br> nouvelle façon de vivre la restauration universitaire, où la technologie et le plaisir de <br> bien manger se rencontrent pour offrir une expérience unique à tous les membres de la communauté universitaire.</p>
                    <button class="btn btn-buy">En Savoir Plus</button>
                </div>

            </div>
        </div>
        <div class="carousel-item" id="carousel_item2">
            <div class="row d-flex align-items-center p-5">
                <div class="col-md-7">
                    <h1 style="font-size: 70px; color: #ffffff;">Mon restau du campus en mains</h1>
                    <p>Plus besoin de sortir votre portefeuille ou de faire la queue pour payer votre repas. Avec campusCfood, vous pouvez commander et payer votre repas en ligne en quelques clics seulement.</p>                    
                    <button class="btn btn-buy">En Savoir Plus</button>
                </div>
            </div>
        </div>
        <div class="carousel-item" id="carousel_item3">
            <div class="row d-flex align-items-center p-5">
                <div class="col-md-12">
                    <h1 style="font-size: 70px; color: #ffffff;">CampusFood, mon gereur de temps entre mes cours</h1>
                    <p>Dites adieu aux longues files d'attente et aux menus indéchiffrables ! Avec campusCfood, vous pouvez consulter les menus en ligne, comparer les prix et trouver facilement le restaurant qui correspond à vos envies..</p>
                    <button class="btn btn-buy">En Savoir Plus</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>
{% endblock  %}

{% block content %}
{% comment %} Description du restau de upb, ses services {% endcomment %}
{% endblock  %}