{% extends "upbapp/base.html" %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="col">
          <!-- Espace mon restau -->
          <div class="col md-6" style="color: #222831; font-weight: bolder; font-size: 50px;">Resto de UPB</div>
          <!-- bar de recherche -->
          <div class="col md-6" style="justify-items: center;justify-content: center;">
            <form class="d-flex" role="search" action="{% url "search" %}" method="GET">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="article">
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{% url "upbHome" %}">
              <small style="color: chocolate; font-weight: bolder; font-size: 50px;">CampusFOOD</small>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                {% if user_profile %}
                <a class="navbar-brand mt-2 mt-lg-0" href="{% url "upbHome" %}">
                    Accueil
                </a>
                {% else %}
                <a class="navbar-brand mt-2 mt-lg-0" href="{% url "home" %}">
                    Accueil
                </a>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "menu" %}">Menu</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for categorie in list_categorie %}
                  <a class="dropdown-item category-link" href="#">{{categorie.nom}}</a><hr>
                  {% endfor %}
                </div>
              </li>
              {% endif %}
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Commandes</a>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <a class="text-reset me-3" href="{% url "panier" %}">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <div class="dropdown">
            <a data-mdb-dropdown-init class="text-reset me-3 dropdown-toggle hidden-arrow" href="#"
              id="navbarDropdownMenuLink" role="button" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
          <!-- Avatar -->
          {% if user.is_authenticated %}
          <div class="dropdown">
            <!-- Tres importante, faire que le profile s affiche si la personne est conneter -->
            <!-- <a class="btn btn-primary" href="{% url "login" %}">Connexion</a> -->
            <a href="#profile"><i class="fas fa-user"><strong>{{user_profile.username}}</strong></i></a>
          </div>
          {% endif %}
        </div>
    </nav>
</header>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Mon Panier</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">Prix Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in plats %}
        <tr>
          <th scope="row">
            <div class="d-flex align-items-center">
              <img src="{{ item.plat.image.url }}" class="img-fluid rounded-3" style="width: 120px;" alt="{{ item.plat.nom }}">
              <div class="flex-column ms-4">
                <p class="mb-2">{{ item.plat.nom }}</p>
                <p class="mb-0">{{ item.plat.description }}</p>
              </div>
            </div>
          </th>
          <td class="align-middle">
            <input type="number" value="{{ item.quantity }}" min="1" class="form-control form-control-sm" style="width: 50px;">
          </td>
          <td class="align-middle">{{ item.plat.prix }} Francs</td>
          <td class="align-middle">{{ item.prix_total }} Francs</td>
          <td class="align-middle">
            <button class="btn btn-danger">Retirer</button> <!-- Bouton pour retirer -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Mode de paiement -->

<div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
  <div class="card-body p-4">

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
        <form>
          <div class="d-flex flex-row pb-3">
            <div class="d-flex align-items-center pe-2">
              <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                value="" aria-label="..." checked />
            </div>
            <div class="rounded border w-100 p-3">
              <p class="d-flex align-items-center mb-0">
                <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>Carte de Credit
              </p>
            </div>
          </div>
          <div class="d-flex flex-row pb-3">
            <div class="d-flex align-items-center pe-2">
              <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                value="" aria-label="..." />
            </div>
            <div class="rounded border w-100 p-3">
              <p class="d-flex align-items-center mb-0">
                <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>Carte de Debit
              </p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="d-flex align-items-center pe-2">
              <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                value="" aria-label="..." />
            </div>
            <div class="rounded border w-100 p-3">
              <p class="d-flex align-items-center mb-0">
                <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"></i>PayPal
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-6">
        <div class="row">
          <div class="col-12 col-xl-6">
            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
              <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
              <label class="form-label" for="typeText">Numero de Carte</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
              <input type="password" id="typeText" class="form-control form-control-lg"
                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
              <label class="form-label" for="typeText">Cvv</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div class="d-flex justify-content-between" style="font-weight: 500;">
          <p class="mb-2">Prix Total</p>
          <p class="mb-2">$23.49</p>
        </div>  
        <hr class="my-4">

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
          <div class="d-flex justify-content-between">
            <span>Commander</span>
            <span>$26.48</span>
          </div>
        </button>

      </div>
    </div>

  </div>
</div>


{% endblock  %}
{% comment %} <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mon Panier</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix Unitaire</th>
        <th scope="col">Prix Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in plats %}
      <tr>
        <th scope="row">
          <div class="d-flex align-items-center">
            <img src="{{ item.plat.image.url }}" class="img-fluid rounded-3" style="width: 120px;" alt="{{ item.plat.nom }}">
            <div class="flex-column ms-4">
              <p class="mb-2">{{ item.plat.nom }}</p>
              <p class="mb-0">{{ item.plat.description }}</p>
            </div>
          </div>
        </th>
        <td class="align-middle">
          <input type="number" value="{{ item.quantity }}" min="1" class="form-control form-control-sm" style="width: 50px;">
        </td>
        <td class="align-middle">{{ item.plat.prix }} Francs</td>
        <td class="align-middle">{{ item.plat.prix * item.quantity }} Francs</td>
        <td class="align-middle">
          <button class="btn btn-danger">Retirer</button> <!-- Bouton pour retirer -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
  
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5">Mon Panier</th>
                  <th scope="col">Format</th>
                  <th scope="col">Quantite</th>
                  <th scope="col">Prix</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"
                        style="width: 120px;" alt="Book">
                      <div class="flex-column ms-4">
                        <p class="mb-2">Thinking, Fast and Slow</p>
                        <p class="mb-0">Daniel Kahneman</p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">Digital</p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex flex-row">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
  
                      <input id="form1" min="0" name="quantity" value="2" type="number"
                        class="form-control form-control-sm" style="width: 50px;" />
  
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">$9.99</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="border-bottom-0">
                    <div class="d-flex align-items-center">
                      <img src="https://i.imgur.com/Oj1iQUX.webp" class="img-fluid rounded-3"
                        style="width: 120px;" alt="Book">
                      <div class="flex-column ms-4">
                        <p class="mb-2">Homo Deus: A Brief History of Tomorrow</p>
                        <p class="mb-0">Yuval Noah Harari</p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle border-bottom-0">
                    <p class="mb-0" style="font-weight: 500;">Paperback</p>
                  </td>
                  <td class="align-middle border-bottom-0">
                    <div class="d-flex flex-row">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
  
                      <input id="form1" min="0" name="quantity" value="1" type="number"
                        class="form-control form-control-sm" style="width: 50px;" />
  
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td class="align-middle border-bottom-0">
                    <p class="mb-0" style="font-weight: 500;">$13.50</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
            <div class="card-body p-4">
  
              <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                  <form>
                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                          value="" aria-label="..." checked />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>Carte de Credit
                        </p>
                      </div>
                    </div>
                    <div class="d-flex flex-row pb-3">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>Carte de Debit
                        </p>
                      </div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex align-items-center pe-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                          value="" aria-label="..." />
                      </div>
                      <div class="rounded border w-100 p-3">
                        <p class="d-flex align-items-center mb-0">
                          <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"></i>PayPal
                        </p>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6">
                  <div class="row">
                    <div class="col-12 col-xl-6">
                      <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                          placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                        <label class="form-label" for="typeText">Numero de Carte</label>
                      </div>
  
                      <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                        <input type="password" id="typeText" class="form-control form-control-lg"
                          placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                        <label class="form-label" for="typeText">Cvv</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                  <div class="d-flex justify-content-between" style="font-weight: 500;">
                    <p class="mb-2">Prix Total</p>
                    <p class="mb-2">$23.49</p>
                  </div>  
                  <hr class="my-4">
  
                  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span>Commander</span>
                      <span>$26.48</span>
                    </div>
                  </button>
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
</section> {% endcomment %}




<style>
    @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
    }
</style>