{% extends "upbapp/base.html" %}

{% block content %}

<div class="container">
    <h2>Liste de recherche</h2>
    <div class="row">
        {% for plat in list_plat%} 
      <!-- Plat -->
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div style="background-color: #d2691e;">
              <div class="img-box">
                <!-- image -->
                  {% if plat.image == "http://default"%}
                    <a href="{%url "detail" plat.nom%}"><img src="https://via.placeholder.com/220x150" alt="" srcset=""></a>
                  {% else %}
                  <a href="{%url "detail" plat.nom%}">
                    <img src="{{plat.image.url}}" class="card-img-top" alt="Fissure in Sandstone"/>
                  </a>
                  {% endif %}
                  
              </div>
              <div class="detail-box">
                  <h5>
                    <a href="{%url "detail" plat.nom%}">{{plat.nom}}</a>
                  </h5>
                  <p>
                    {{plat.description|truncatewords:5}}
                  </p>
                  <div class="options">
                    <h6>
                        Prix: {{ plat.prix }} Francs
                    </h6>
                    <button class="btn add-to-cart-btn" value="{{plat.id}}" id="button">
                      Ajouter au panier
                    </button>
                    <!-- <a href="">
                        <span class="btn add-to-cart-btn" data-mdb-ripple-init data-id="{{ plat.id }}" style="margin-right: 10px;">
                            <i class="fas fa-shopping-cart" style="color: #d2691e;"></i>
                        </span>
                    </a> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>


{% endblock  %}