{% extends "cfoodapp/base.html" %}



{% block content %}
<br><br><br><br><br>
<div class="container mb-6" style="border: solid 1px black; text-align: center; justify-content: center; justify-items: center;">
<h1>INSCRIPTION</h1><br>
{% for message in messages %}
<strong style="color: chocolate">{{message}}<strong/>
{% endfor %}
<form action="{% url "login" %}" method="POST" >
    {% csrf_token %}
    <div class="form-control">
        <label for="type_utilisateur">Vous êtes : </label>
        <input type="text" name="type_utilisateur" id="type_utilisateur" placeholder="Etudiant / Enseigant / Personnel d'administration" required>
    <button type="submit">Suivant</button>
</form>
</div>
<br><br><br><br><br>
{% endblock  %}


<select name="type_utilisateur" id="type_utilisateur" required>
    <option value="">--- Veuillez choisir votre type ---</option>
    <option value="etudiant">Etudiant</option>
    <option value="enseignant">Enseignant</option>
    <option value="personnel_administration">Personnel d'administration</option>
</select>

